@import './variable';
:root{
    --primary:#{$primary};
    --warning:#{$warning};
    --success:#{$success};
    --info:#{$info};
    --danger:#{$danger};
    //通过循环设置多种变量颜色
    // $i:1;
    // @each $singleStatus in $status{
    //     --#{nth($status,$i)}:#{nth($statusColor,$i)};
    //     $i:$i+1;
    // }
}