    $primary:#409EFF;
    $warning:#E6A23C;
    $success:#67C23A;
    $info:#909399;
    $danger:#F56C6C;

    // $primary-lighten:#409EFF;
    // $warning-lighten:#E6A23C;
    // $success-lighten:#67C23A;
    // $info-lighten:#909399;
    // $danger-lighten:#F56C6C;

    $status:primary,warning,success,info,danger;

    $statusColor:#409EFF,#E6A23C,#67C23A,#909399,#F56C6C;

